.app {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-image: url('https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4wEag?ver=1497');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}